.cards{
    overflow: scroll;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 10rem;


    .card{

        flex-grow: 1;
        flex-basis: 20rem;
        max-width: 20rem;
        
        padding-inline: 1rem;
        padding-block: 0.75rem;

        background-color: #1c1c1c;
        border-radius: 0.5rem;

        color: rgb(245, 245, 245);

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        img{
            width: 100%;
            border-radius: 1rem;
        }

        h1{
            font-size: 1rem;
            font-weight: 500;
        }

        .description{
            opacity: 0.7;
            word-spacing: 0.2rem;
            line-height: 1;
        }

        .tags{

            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            
            .tag{
                background-color: #353735;
                width: fit-content;

                padding-inline: 0.5rem;
                padding-block: 0.2rem;
                border-radius: 0.75rem;

                white-space: nowrap;
            }
        }

        .urls{
            display: flex;
            justify-content: space-between;
            
            a{
                color: white;
            }
        }


    }
}